---
- name: Downloading from Source Bucket
  aws_s3:
   bucket: "{{ SourceArtifactBucket }}" 
   object: "/cync/{{ SourceArtifactName }}"
   dest: /home/ubuntu/ror.tar.gz
   mode: get

- name: Uploading to Destination Bucket
  aws_s3:
   bucket: "{{ DestinationArtifactBucket }}"
   object: "/cync/{{ SourceArtifactName }}"
   src: /home/ubuntu/ror.tar.gz
   mode: put

